html {
     background: #e6e9e9;
	  
}

body {
    background: #fffadf;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'comic sans', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 30px 20px 30px;
	margin-top: 35px;
	margin-bottom: 35px;
	border: 1px solid black;
    border-collapse: collapse;
}

h2, h4, h5, h6 {
    color: #222222;
}

h1 {
    font-size: 92px;
    font-weight: 600;
    line-height: 1;
    color: #222222;
}

h2 {
    font-size: 48px;
    font-weight: 200;
    font-style: italic; 
    margin-top: 20px;
    line-height: 1;
}

h3 {
    margin-top : 40px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
	color: red;
	text-decoration: underline;
}

h4 {
    font-size: 16px;
    font-weight: 800;
}

p {
    font-size: 16px;
}

a {
    color: red;
}

a:hover {
	color : green;
}

b, strong {
    font-weight: 600;
	color: Orange;
}

img.photo_CV {
    width: 50%;
    border: 10px solid #000000;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

img.Cryptomonnaie {
    width: 35%;
    border-radius: 4px;
    display: block;
    margin: 0 auto;	
}	

img.Parkour {
    width: 35%;
    border-radius: 4px;
    display: block;
    margin: 0 auto;	
}	

img.League {
    width: 35%;
    border-radius: 4px;
    display: block;
    margin: 0 auto;	
}	

hr {
	background-color: #4e4860;
	height : 3px;
	border: 1px solid black;
    border-collapse: collapse;
}



/* Sur les écrans, quand la largeur de la fenêtre fait au minimum 1200px */
/* @media screen and (min-width: 1200px) */
/* { */
	/* p */
    /* { */
        /* color: red;  */
        /* background-color: black; */
        /* font-size: 1.2em; */
    /* } */
	/* body */
	/* { */
		/* text-align: center;			 */
	/* } */
/* } */

/* Sur les écrans, quand la largeur de la fenêtre est inférieur à 600px */
/* @media screen and (max-width: 599px) */
/* { */
		/* p */
    /* { */
        /* color: blue;  */
        /* background-color: black; */
        /* font-size: 1.2em; */
    /* } */
		/* body */
	/* { */
		/* text-align: center;	 */
	/* }	 */
		/* h1 */
	/* { */
		/* font-size: 55px; */
		/* font-weight: 200; */
		/* color: orangered;			 */
	/* } */
		/* h2 */
	/* { */
		/* color: red; */
		/* font-size: 30px; */
		/* font-weight: 400;		 */
	/* }	 */
/* } */

/* Sur les écrans, quand la largeur de la fenêtre est supérieur à 600px */
/* @media screen and (min-width: 600px) */
/* { */
		/* h1 */
	/* { */
		/* font-size: 55px; */
		/* font-weight: 200; */
		/* text-align: center; */
	/* }	 */
		/* h2 */
	/* { */
		/* color: red; */
		/* font-size: 30px; */
		/* font-weight: 400;	 */
		/* text-align: center;		 */
	/* }		 */
		/* p */
    /* { */
        /* color: orange;  */
        /* background-color: black; */
        /* font-size: 1.2em; */
    /* } */
		/* body */
	/* { */
		/* text-align: center;			 */
	/* }	 */
/* } */
/* Sur les écrans, quand la largeur de la fenêtre est supérieur à 992px */
/* @media screen and (min-width: 992px) */
/* { */
		/* p */
    /* { */
        /* color: Purple;  */
        /* background-color: black; */
        /* font-size: 1.2em; */
    /* } */
		/* body	 */
	/* {	 */
		/* text-align: center;		 */
	/* }	 */
/* } */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px 
@media all and (min-width: 1024px) and (max-width: 1280px)
*/
/* Sur les téléviseurs
@media tv
 */
/* Sur tous types d'écrans orientés verticalement 
@media all and (orientation: portrait)
*/